<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145816593-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-145816593-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>
        Dylan Davies - Full-Stack Developer / Programmer
    </title>
    <meta name="theme-color"                content="#1a1a1a">
    <meta name="keywords"                   content="full stack developer,developer,sql,css,node,nodejs,node.js,webpack,internet,internet of things,branding,design,ux,user experience,user interface,web design,web developer,frontend,front-end,full-stack,engineer,java,c#,data,algorithm,data science,computer science,freelance,freelancer,hql,hibernate,spring,javascript,vue,vue.js,vuejs,react.js,reactjs,react,frameworks,python,pug,angular,angularjs,angular.js,html,html5,css3,sass,back-end,backend" />
    <meta name="description"                content="A full-stack developer & programmer with professional experience using Java, C#, SQL, ASP.NET, HTML, CSS, and JavaScript.">
    <meta name="geo.region"                 content="CA-ON" />
    <meta name="geo.placename"              content="Hamilton" />
    <meta name="geo.position"               content="43.255205;-79.868202" />
    <meta name="ICBM"                       content="43.255205, -79.868202" />   
    <meta property="og:url"                 content="https://dylandavies.me" />
    <meta property="og:title"               content="Dylan Davies - Full-Stack Developer / Programmer" />
    <meta property="og:description"         content="A full-stack developer & programmer with professional experience using Java, C#, SQL, ASP.NET, HTML, CSS, and JavaScript." />
    <meta property="og:site_name"           content="Dylan Davies - Full-Stack Developer / Programmer" />
    <meta property="og:image"               content="https://dylandavies.me/dist/assets/img/og-image.png?v={{seed}}" />
    <meta property="og:type"                content="website" />
    <meta property="og:locale"              content="en_CA" />   
    <meta property="fb:app_id"              content="460034768114026" />
    <meta name="twitter:card"               content="summary">
    <meta name="twitter:title"              content="Dylan Davies - Full-Stack Developer / Programmer">
    <meta name="twitter:description"        content="A full-stack developer & programmer with professional experience using Java, C#, SQL, ASP.NET, HTML, CSS, and JavaScript.">
    <meta name="twitter:image"              content="https://dylandavies.me/dist/assets/img/og-image.png?v={{seed}}">
    <link rel="icon" href="/favicon.png?v={{seed}}" type="image/x-icon" />
    {{#each assets.css}}
        <link rel="stylesheet" type="text/css" href="{{this}}?v={{seed}}" />
    {{/each}}
   {{#if hotjar}}
        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:1504642,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>
   {{/if}}
</head>
<body>
    {{{body}}}
    {{#each assets.js}}
        <script src="{{this}}?v={{seed}}"></script>
    {{/each}}
</body>
</html>