<div class="dd-bg-header">
    <nav class="dd-navbar navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand dd-branding" href="#">
            Design3
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link dd-nav-link" href="#">
                        About Us
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link dd-nav-link" href="#">
                        Our Work
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link dd-nav-link dd-nav-link--cta" href="#">
                        Sign Up
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="dd-hero">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12 my-3 col-md-6 d-flex flex-column justify-content-center align-items-center">
                    <div>
                        <h1 class="text-white mb-3 dd-hero__h1" data-aos="fade-up" data-aos-delay="0">
                            Technology for<br /> Innovators.
                        </h1>
                        <p class="text-white mb-4 dd-hero__p" data-aos="fade-up" data-aos-delay="200">
                            Number #1 choice for developers world-wide.
                        </p>
                        <span class="d-inline-block" data-aos="fade-up" data-aos-delay="300">
                            <button class="dd-btn mb-2 mr-2 dd-btn--primary dd-btn--fill">
                                Try for free
                            </button>
                        </span>
                        <span class="d-inline-block" data-aos="fade-up" data-aos-delay="400">
                            <button class="dd-btn dd-btn--w--thin dd-btn--white dd-btn--outline">
                                Learn more
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-12 my-3 col-md-6">
                    <img class="dd-hero__img img-fluid" src="{{assets.path}}/img/illustration-hero.svg" alt="Design3" data-aos="fade-up" data-aos-delay="0" />
                </div>
            </div>                             
        </div>
    </div>
    <div class="container dd-bp-max-xl dd-illus-card-container">
        <div class="dd-illus-card my-3" data-aos="fade-up" data-aos-delay="100">
            <img class="dd-illus-card__img img-fluid" src="{{assets.path}}/img/illustration-1.svg" />
            <h3 class="dd-illus-card__h3">
                Vestibulum 
            </h3>
            <p class="dd-illus-card__p">
                Morbi non lorem ante. Suspendisse ornare ligula mi.
            </p>
            <button class="dd-illus-card__btn dd-btn dd-btn--fill dd-btn--primary">
                Learn More
            </button>
        </div> 
        <div class="dd-illus-card my-3" data-aos="fade-up" data-aos-delay="200">
            <img class="dd-illus-card__img img-fluid" src="{{assets.path}}/img/illustration-2.svg" />
            <h3 class="dd-illus-card__h3">Praesent id</h3>
            <p class="dd-illus-card__p">
                Vestibulum sem tortor, bibendum ut varius quis.
            </p>
            <button class="dd-illus-card__btn dd-btn dd-btn--fill dd-btn--primary">
                Learn More
            </button>
        </div>
        <div class="dd-illus-card my-3" data-aos="fade-up" data-aos-delay="300">
            <img class="dd-illus-card__img img-fluid" src="{{assets.path}}/img/illustration-3.svg" />
            <h3 class="dd-illus-card__h3">Cras odio</h3>
            <p class="dd-illus-card__p">
                Proin fringilla sit amet nibh id pretium. Vel ullamcorper.
            </p>
            <button class="dd-illus-card__btn dd-btn dd-btn--fill dd-btn--primary">
                Learn More
            </button>
        </div> 
    </div>      
</div>      
<div class="container-fluid py-6">
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="row px-sm-6 h-100 d-flex justify-content-center align-items-center">
                <div class="col-12 col-sm-6 mb-5">
                    <p class="text-center" data-aos="fade-up">
                        Curabitur efficitur velit 
                        <span class="d-block text-primary font-weight-bold display-3">65%</span>
                        magna, quis gravida urna.
                    </p>
                </div>
                <div class="col-12 col-sm-6 mb-5">
                    <p class="text-center" data-aos="fade-up" data-aos-delay="100">
                        Curabitur efficitur velit 
                        <span class="d-block text-primary font-weight-bold display-3">12,521</span>
                        magna, quis gravida urna.
                    </p>
                </div>
                <div class="col-12 col-sm-6 mb-5">
                    <p class="text-center" data-aos="fade-up" data-aos-delay="200">
                        Curabitur efficitur velit 
                        <span class="d-block text-primary font-weight-bold display-3">+25</span>
                        magna, quis gravida urna.
                    </p>
                </div>
                <div class="col-12 col-sm-6 mb-5">
                    <p class="text-center" data-aos="fade-up" data-aos-delay="300">
                        Curabitur efficitur velit 
                        <span class="d-block text-primary font-weight-bold display-3">145</span>
                        magna, quis gravida urna.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <img alt="Reporting" class="mx-auto d-block img-fluid" data-aos="fade-up" data-aos-delay="500" src="{{assets.path}}/img/illustration-data.svg" style="max-width:80%;" />
        </div>
    </div>
</div>
<div class="dd-bg-secondary-gradient overflow-hidden text-white">
    <div class="container dd-bp-max-xl my-6">
        <div class="row">
            <div class="col-12 col-md-6 mb-md-0 mb-1" data-aos="fade-up" data-aos-duration="900">
                <img class="img-fluid" style="max-width:80%;margin:0 auto;display:block;" src="{{assets.path}}/img/illustration-4.svg" />
            </div>
            <div class="col-12 col-md-6 d-flex flex-column justify-content-center" data-aos="fade-down" data-aos-duration="900">
                <h2 class="font-weight-bold mb-3 my-3">Nullam dictum sagittis.</h2>
                <p>
                    Quisque nulla velit, tincidunt ornare sollicitudin pretium, venenatis porttitor justo. Vestibulum quis erat ac felis blandit malesuada. Donec augue felis, posuere quis leo sed, convallis vestibulum odio. Curabitur sagittis turpis eu hendrerit efficitur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam a ipsum id dolor tincidunt vehicula. Vestibulum nec egestas nunc. Praesent risus enim, rutrum non maximus ac, posuere vitae leo.
                </p>
            </div>
        </div>
    </div>          
</div>
<div class="container dd-bp-max-xl my-6">
    <div class="row">
        <div class="col-12 col-md-6 d-flex flex-column justify-content-center" data-aos="fade-down" data-aos-duration="900">
            <h2 class="font-weight-bold my-3">Pellentesque maximus.</h2>
            <p class="mb-md-0 mb-4">
                Aenean eu hendrerit eros. Donec vel urna nulla. Curabitur lacinia porttitor nisl nec eleifend. Vivamus luctus rutrum enim ut eleifend. Praesent libero felis, sodales vel commodo sed, condimentum vulputate metus. Praesent vitae suscipit quam. Ut consequat dictum tellus, id porttitor augue consequat id. Etiam nec justo ac metus tempor iaculis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque quis tellus nunc.
            </p>
        </div>
        <div class="col-12 col-md-6" data-aos="fade-up" data-aos-duration="900">
            <img class="img-fluid" style="max-width:80%;margin:0 auto;display:block;" src="{{assets.path}}/img/illustration-article-2.svg" />
        </div>
    </div>
</div>   
<div class="container dd-bp-max-xl my-6">
    <div class="row">
        <div class="col-12 col-md-6 mb-md-0 mb-1" data-aos="fade-up" data-aos-duration="900">
            <img class="img-fluid" style="max-width:80%;margin:0 auto;display:block;" src="{{assets.path}}/img/illustration-article-1.svg" />
        </div>
        <div class="col-12 col-md-6 d-flex flex-column justify-content-center" data-aos="fade-down" data-aos-duration="900">
            <h2 class="font-weight-bold mb-3 my-3">Aenean neque turpis.</h2>
            <p>
                Aenean eu hendrerit eros. Donec vel urna nulla. Curabitur lacinia porttitor nisl nec eleifend. Vivamus luctus rutrum enim ut eleifend. Praesent libero felis, sodales vel commodo sed, condimentum vulputate metus. Praesent vitae suscipit quam. Ut consequat dictum tellus, id porttitor augue consequat id. Etiam nec justo ac metus tempor iaculis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque quis tellus nunc.
            </p>
        </div>
    </div>
</div>     
<div class="dd-bg-secondary-gradient overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="py-7">                        
                    <img class="d-block mx-auto img-fluid" src="{{assets.path}}/img/illustration-newsletter.svg" alt="Subscribe to our newsletter" style="height:200px;" data-aos="fade-left" data-aos-delay="0" />
                    <div class="py-3">
                        <h3 class="text-white font-weight-bold text-center" data-aos="fade-left" data-aos-delay="200">Join Our Mailing List</h3>
                        <p class="mt-3 py-2 mb-4 text-white d-flex justify-content-center">
                            <span class="d-flex justify-content-center align-items-center mx-3 text-center" data-aos="fade-left" data-aos-delay="400">
                                <i class="material-icons mr-3" style="font-size:1.5em" aria-hidden="true">local_offer</i> Exclusive Offers
                            </span>
                            <span class="d-flex justify-content-center align-items-center mx-3 text-center" data-aos="fade-left" data-aos-delay="600">
                                <i class="material-icons mr-3" style="font-size:1.5em" aria-hidden="true">import_contacts</i> News
                            </span>
                            <span class="d-flex justify-content-center align-items-center mx-3 text-center" data-aos="fade-left" data-aos-delay="800">
                                <i class="material-icons mr-2" style="font-size:1.5em" aria-hidden="true">attach_money</i> Discounts
                            </span>
                        </p>
                        <div class="row w-100 mx-auto justify-content-center">
                            <input class="dd-input col-12 mr-0 mr-md-2 col-sm-8 col-md-3 mb-2 mb-sm-0" data-aos="fade-left" placeholder="Email address" data-aos-delay="1000" style="width:250px0" type="text" />
                            <button class="dd-btn dd-btn--primary col-md-2 dd-btn--fill col-sm-4" data-aos="fade-left" data-aos-delay="1200">Subscribe</button>
                        </div>
                        <p class="text-light mt-4 text-center" data-aos="fade-left" data-aos-delay="1400">You'll receive weekly emails with exclusive offers and discounts.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>